PORT=8080
JDBC_DATABASE_URL=jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:5432/postgres
DATABASE_USER=postgres.bxqdynhsmhoxzkqnmear
DATABASE_PASSWORD=
SUPABASE_JWT_ISSUER=https://bxqdynhsmhoxzkqnmear.supabase.co/auth/v1
SUPABASE_JWT_AUDIENCE=authenticated
